.menu-section{
  border: 2px solid red;
}
.title{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    display: flex;
    justify-content: center;
}
.title h1{
  font-size: 40px;
  margin: 10px 0px 20px 0px;
  color:rgb(0, 72, 82);
}